@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #272323;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #696969; /* Set the background color of the yellow shape */
  clip-path: polygon(100% 100%, 0% 100%, 100% 0);
}
